doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Robotics 88 File Manager
    link(rel="stylesheet" href="/static/pico.css")
  body
    main
      h1 File Manager
      h2 Error
      pre= error
