doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Robotics 88 File Manager
    link(rel="stylesheet" href="/static/pico.css")

    link(rel="icon" type="image/png" sizes="16x16"   href="/static/favicon-16x16.png")
    link(rel="icon" type="image/png" sizes="32x32"   href="/static/favicon-32x32.png")
    link(rel="apple-touch-icon"      sizes="180x180" href="/static/apple-touch-icon.png")
    link(rel="manifest"                              href="/static/site.webmanifest")

    style.
      .content {
        padding-left: 1.5em;
      }
  body
    main
      h1 File Manager

      each thing in structure
        details
          summary
            h2= thing.directory

          .content
            if thing.log
              p: a(href='download/'+encodeURIComponent(thing.log)) Flight Log

            each flight in thing.flights
              h3= flight.name
              ol
                each file in flight.files
                  li
                    a(href='download/'+encodeURIComponent(file.path)) #{file.name} (#{file.displaySize})

    script(src="/static/script.js")
